*
{
    margin:0;
    padding:0;
    background: #1f1f2d;
}
html,body,.container, .sideBar, .content
{
    height: 100%;
}
h1
{
    height: 50px;
    line-height: 50px;
    background: #1f1f2d;
    color: #ddccff;
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
    padding-top: 30px;
    padding-left: 150px;
    font-size: 56px;
    letter-spacing: 3px;
}
h2
{
    color: #ffffe6;
    font-family: 'Delius Swash Caps', cursive;
    padding-left: 20px;
}
h3
{
    color: #ffffe6;
    font-family: 'Delius Swash Caps', cursive;
    align-content: center;
}
p
{
    color: #ff99ff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Bitter';
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}
.container
{
    margin-top: -50px;
    padding-top: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sideBar
{
    float:left;
    width: 270px;
    overflow:hidden;
}
.content
{
    overflow:hidden;
    padding-left: 250px;
    padding-top: 50px;
    border-style: solid;
    border-color: #1f1f2d; 
}

.container li {
    letter-spacing: 2px;
    color: white;
}

div ul li a {
    color: white;
    font-family: 'Delius Swash Caps', cursive;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none; 
}

li {
    padding: 50px 30px 50px 80px;
}


div ul li a:hover {
    color: #ddccff;


}

#content a:link {
    color: lime;
}