{% extends 'base.html' %}

<h3>fine-tune your memory</h3>
  
{% block content %}


<h2>
instuctions
</h2>
<p>1.  Go to the <a href="/start/">start</a> section.</p>

<p>2.  Make sure your speakers are turned on and click on the grey circle.  Be prepared to listen.</p>

<p>3.  A sequence of notes will begin playing.  Each time you hear a note that is the same as the one played two notes before it, click on the circle.</p>

<p>4.  If you are correct, you will receive points.  If you are incorrect, or you fail to click when the notes are the same, you will lose a try.  <br>When you are out of tries, the task is over.</p>

<h2>

<h2>
concept
</h2>
<p>
Memotune is an n-back style cognitive training tool that targets the user's short-term memory and concentration.  It is the first application of musical notes as cues to an n-back style task; as such, its creator hopes to test its potential for musical ear-training as well as memory-training.</p>
<p>
  Besides hosting the Memotune app, this website serves as an ongoing research project aimed at addressing the purported "evidence for transfer from training on a demanding working memory task to measures of Gf" put forth by Jaeggi et al in their <a href="http://www.pnas.org/content/early/2008/04/25/0801268105.abstract">paper</a>.  These claims have been widely disputed, as in <a href="http://web.ics.purdue.edu/~tredick/2013%20Redick%20et%20al.pdf">Redick et al.</a>  This discrepency indicates the need for clarity and transparency in data and methodology such that a meangingful debate might be facilitated.  This project hopes to fill any deficiencies in previous research for this purpose.  It is not our contention that any results were intentionally obfiscated; rather, using the power of networked participants and real-time data collection and presentation used on this site, many human errors can be avoided.  This approach is inspired by the Citizen Science and Open Science movements.
</p>

<p>  The "demanding working memory task" mentioned in Jaeggi et al is an n-back style task, differing from Memotune in its reliance on visual cues.  The goal of Memotune is to provide an alternative task for the measurement of working memory that may be more basic to human cognition and less biased towards certain cultural and/or demographic groups (eg subjects with less keenly developed hand-eye/mouse clicking coordination due to lack of computer experience).  
</p>
<p>
  It is our hope that by making our experimental data as transparent as possible (up-to-date findings are reported in the <a href={"/results/">results</a> section of the website), we may work towards resolving previous discrepencies in this area of research.  When adequate data has been collected such that it might shine light on the original research question, this data will be used in a Science 2.0 research paper.  This project is being carried out in a spirit of curiosity and transparency; its creator wishes to promote this research for these causes alone.
</p>


{% endblock %}
