{% extends 'base.html' %}

{% block content %}
<h2>
concept
</h2>
<p>
Memotune is a cognitive training tool that targets the user's short-term memory, concentration, and mental speed.</p>
<p>
It is inspired by the n-back task, which has been used by neuroscientists to measure aspects of 
working memory.  <br>Studies have indicated that performing the n-back task may improve
fluid intelligence.
</p>
<p>
Memotune is unique among n-back related tasks in being musically-based.
Users must differentiate between musical notes instead of visual cues.  <br>Thus, it may have the
potential to serve as an ear-training method for musicians.
</p>



<h2>
instuctions
</h2>
<p>1.  Go to the <a href="/start/">start</a> section.</p>

<p>2.  Make sure your speakers are turned on and click on the grey circle.  Be prepared to listen.</p>

<p>3.  A sequence of notes will begin playing.  Each time you hear a note that is the same as the one played two notes before it, click on the circle.</p>

<p>4.  If you are correct, you will receive points.  If you are incorrect, or you fail to click when the notes are the same, you will lose a try.  <br>When you are out of tries, the task is over.</p>

<h2>
 

{% endblock %}
